# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
cmake-build-release

build
.idea

.vscode
output
build
.cache

.depend

# Temporary from Flex and Bison
parser.hh
parser.cc
lexer.cc
location.hh

*.log

compile_commands.json

*.out
*.o

.vs/

generated/
out/
external/antlr4

dist/